body {
  font-family: "Lato";
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background: url("./images/promo-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran";
  font-weight: 800 !important;
}

h2 {
  margin: 3px 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn-danger {
  border-radius: 13px;
  height: 2.3rem;
  background: #dc3545;
  color: white;
  font-weight: 400;
  border: 1px solid transparent;
  border-color: #dc3545;
  cursor: pointer;
}

.input-style {
  text-align: center;
  height: 1.7rem;
  width: 15.5rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  text-align: center;
  margin-top: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.order-suit-h3 {
  width: 100%;
  font-size: 27px;
  text-align: center;
}

.flexbox-one {
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.flexbox-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-three {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flexbox-four {
  display: flex;
  justify-content: center;
}

.card-display {
  width: 400px;
  height: 400px;
}

.card-display-width {
  width: 26rem;
}

.font-display-image {
  font-size: 20px;
}

.error-message-order-suit {
  color: #dc3545;
  text-align: center;
}

.phone-text-size {
  font-size: 2rem;
}

.table {
  color: white;
}

.table-no-orders-color {
  text-align: center;
  color: white;
}
